.page {
  position:relative;
  left: -100%;
  opacity: 0;
  transition: .2s;
}
.page.slide-in {
  left: 0;
  opacity: 1;
}
.page.slide-out {
  left: 100%;
  opacity: 0;
}
.App {
  text-align: center;
}
p {
  color: white;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 100px;
  pointer-events: none;
}
.svgs {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100px;
  fill: white;
}
.logo .background {
  fill: #26303D;
}
.logo .accent {
  fill: #FFCC63;
}

.svg-gear {
  height: 100px;
  fill: white;
  pointer-events: none;
  transform: scale(0);
  opacity: 0;
  transition: 0.5s;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: 0.3s;
}
.shown {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.zoom {
  transform: scale(1) rotate(0deg);
  opacity: 1;
}
.rotate {
  animation: App-logo-spin 5s linear;
}
.zoomout {
  opacity: 0;
}
.App-header {
  background-color: #26303D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes zoomin {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(30deg);
  }
}
@keyframes zoomout {
  0% {
    opacity: 1;
    transform: scale(1) rotate(60deg);
  }
  100% {
    opacity: 0;
    transform: scale(0) rotate(90deg);
  }
}
@keyframes loading {
  0% {
    transform: scale(.1) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: scale(1) rotate(72deg);
  }
  25% {
    opacity: 1;
    transform: scale(1) rotate(180deg);
  }
  50% {
    transform: scale(1) rotate(360deg);
  }
  100% {
    transform: scale(.1) rotate(720deg);
    opacity: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
